@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 16.67% 97.65% /* gray-100 */;
    --foreground: 210 9.09% 8.63% /* gray-950 */;
    --card: 0 0% 100% /* white */;
    --card-foreground: 210 9.09% 8.63% /* gray-950 */;
    --popover: 0 0% 100% /* white */;
    --popover-foreground: 210 9.09% 8.63% /* gray-950 */;
    --primary: 215.75 98.36% 52.16% /* blue-500 */;
    --primary-foreground: 217.24 87.88% 93.53% /* blue-50 */;
    --secondary: 210 15.79% 92.55% /* gray-200 */;
    --secondary-foreground: 210 10.81% 14.51% /* gray-900 */;
    --muted: 210 15.79% 92.55% /* gray-200 */;
    --muted-foreground: 208.24 7.3% 45.69% /* gray-600 */;
    --accent: 210 15.79% 92.55% /* gray-200 */;
    --accent-foreground: 210 10.81% 14.51% /* gray-900 */;
    --destructive: 354.25 70.46% 53.53% /* red-500 */;
    --destructive-foreground: 210 25% 98.43% /* gray-50 */;
    --border: 210 13.79% 88.63% /* gray-200 */;
    --input: 210 13.79% 88.63% /* gray-200 */;
    --ring: 215.75 98.36% 52.16% /* blue-500 */;
    --radius: 0.5rem;
  }

  .dark {
    --background: 210 9.09% 8.63% /* gray-950 */;
    --foreground: 210 25% 98.43% /* gray-50 */;
    --card: 210 9.09% 8.63% /* gray-950 */;
    --card-foreground: 210 25% 98.43% /* gray-50 */;
    --popover: 210 9.09% 8.63% /* gray-950 */;
    --popover-foreground: 210 25% 98.43% /* gray-50 */;
    --primary: 215.75 98.36% 52.16% /* blue-500 */;
    --primary-foreground: 217.24 87.88% 93.53% /* blue-50 */;
    --secondary: 210 10.34% 22.75% /* gray-800 */;
    --secondary-foreground: 210 25% 98.43% /* gray-50 */;
    --muted: 210 10.34% 22.75% /* gray-800 */;
    --muted-foreground: 210 13.95% 83.14% /* gray-400 */;
    --accent: 210 10.34% 22.75% /* gray-800 */;
    --accent-foreground: 210 25% 98.43% /* gray-50 */;
    --destructive: 354.18 61.47% 42.75% /* red-600 */;
    --destructive-foreground: 210 25% 98.43% /* gray-50 */;
    --border: 210 10.34% 22.75% /* gray-800 */;
    --input: 210 10.34% 22.75% /* gray-800 */;
    --ring: 215.75 98.36% 52.16% /* blue-600 */;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
